/*
Theme  name : Orges Recica / Wordpress
Author :Orges Recica
Description:THe digital school blog theme is a modern theme ,responsive, and user-friendly
Version:1.0
Tgs:Cool,Blue,mobile ready,school,digital
*/

